* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    margin: 1rem;
    text-align: center;
  }
  
  .github-page-text {
    color: red;
  }

  .github-link {
    position: relative;
    left: 100px;
    top: 800px;
  }

  .github-link:hover {
    background-color: yellow;
  }